/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --background-color: #fff1f7;
  --background-image: url("../images/cover-image-light.png");
  --subtitle-color: #353430;
}

.theme-light .header__theme-menu-button,
.theme-light .header__subtitle,
.theme-light .title {
  color: var(--text-color);
}

.theme-light .header__rec {
  visibility: hidden;
}

.theme-light .decorated-zone::before {
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.theme-light .decorated-zone::after {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.theme-light .header__theme-menu-button_type_dark {
  outline: none;
}

.theme-light .header__theme-menu-button_type_light {
  outline: 1px solid var(--text-color);
  width: 70px;
  height: 26px;
  padding: 0 13px;
}

.theme-light .header__theme-menu-button:active {
  outline: 1px solid var(--text-color);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

.theme-light .header__theme-menu-button:focus {
  text-decoration: none;
}

.theme-light .header__theme-menu-button:focus-visible {
  text-decoration-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --background-image: url("..//images/cover-image-light.png");
    --background-color: #fff1f7;
    --subtitle-color: #353430;
  }
  .header__theme-menu-button,
  .header__subtitle,
  .title {
    color: var(--text-color);
  }
  .header__theme-menu-button_type_dark {
    outline: none;
  }
  .theme-light .header__theme-menu-button_type_light {
    outline: 1px solid var(--text-color);
    width: 70px;
    height: 26px;
    padding: 0 13px;
  }
  .header__rec {
    visibility: hidden;
  }
  .decorated-zone::before {
    border-top: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
  }
  .decorated-zone::after {
    border-bottom: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
  }
  .header__theme-menu-button:active {
    outline: 1px solid var(--text-color);
  }
  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }
  .header__theme-menu-button:focus {
    text-decoration: none;
  }
  .header__theme-menu-button:focus-visible {
    text-decoration-color: var(--text-color);
  }
}
