/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-family: var(--font-family);
  min-inline-size: 375px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
}
.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: inherit;
  font-weight: var(--font-weight-normal);
  font-size: var(--text-font-size);
  line-height: 100%;
  color: var(--accent-color);
}
.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
  padding: 0px 25px;
  width: 110px;
  height: 30px;
}
.header__theme-menu-button:focus {
  text-decoration: none;
}
.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 2px;
}
.header__theme-menu-button_type_dark {
  border: 1px solid var(--accent-color);
  width: 70px;
height: 26px;
padding: 0 13px;
}
.header__rec {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--text-font-size);
  line-height: 139%;
  position: absolute;
  top: var(--margin-position-absolut);
  right: var(--margin-position-absolut);
  color: var(--accent-color);
}
.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: middle;
  box-shadow: 0px 0px 6px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
}
.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--margin-position-absolut);
  right: var(--margin-position-absolut);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}
.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--margin-position-absolut);
  left: var(--margin-position-absolut);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}
.header__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  justify-self: start;
}

.content {
  padding: var(--padding-content) var(--padding-sides);

}
.header__subtitle,
.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-font-size);
  line-height: 130%;
  color: var(--subtitle-color);
}

.header__subtitle {
  grid-row: 3;
  background-color: var(--accent-color);
  align-self: center;
  justify-self: start;
  max-width: 364px;
}
.title-decor,
.title-decoration {
  background-color: var(--accent-color);
}

.title-no-decor {
  color: var(--accent-color);
}

.text,
.subtitle {
  font-weight: var(--font-weight-normal);
  font-size: var(--text-font-size);
  line-height: 130%;
}
.text {
  color: var(--text-color);
}
.text__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.text__link:focus {
  outline: none;
}
.text__link:focus-visible {
  outline: 1px solid var(--text-color);
  width: 97px;
  height: 33px;
}
.text__link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
}
.subtitle {
  color: var(--subtitle-color);
}
.reasons {
  grid-template-columns: 1fr;
  margin-block-end: var(--margin-block-end);
}
.attention,
.advice  {
  margin-block-end: var(--margin-block-end);
}

.gallery__images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery__img {
  object-fit: cover;
  display: block;
  width: 100%;
}
.footer {
  padding: 0px var(--padding-sides);
  min-height: 667px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: var(--margin-block-end);
}
.footer__title {
  padding: 0 4px;
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}
.advice,
.reasons,
.attention,
.attention-wrapper,
.reasons-wrapper,
.advice-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.attention-card,
.reasons-card,
.advice-card,
.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

@media (min-width: 768px) {
  :root {
    --padding-content: 60px;
    --padding-sides: 20px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --margin-block-end: 80px;
    --margin-position-absolut: 20px;
  } 
  .page {
    max-inline-size: 768px;
  }
  .header {
    min-height: 1024px;
    padding: var(--padding-sides);
  }

  .header__title {
    margin-left: -20px;
    font-size: var(--title-font-size);
    justify-self: start;
  }
  .header__subtitle {
    justify-self: end;
  }
  .advice,
  .reasons {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .title-decor {
    flex-grow: 1;
  }
  .gallery {
    gap: 20px;
  }
  .attention {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .attention-wrapper {
    grid-column: 1 / 4;
       grid-row: 2;
     }
  .gallery__images {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    grid-auto-flow: row;
  }
  .gallery__img:nth-child(1) {
    grid-column: span 2;
  }
  .gallery__img:nth-child(2) {
    grid-row: span 2;
    height: 100%;
  }
  .gallery__img:nth-child(3) {
    grid-row: span 3;
    height: 100%;
  }
  .gallery__img:nth-child(4) {
    grid-column: 2;
  }
  .gallery__img:nth-child(5) {
    grid-row: span 2;
    grid-column: span 2;
    height: 100%;
    width: 100%;
  }
  .footer {
    min-height: 1024px;
  }
}
@media (min-width: 1024px) {
  .page {
    min-inline-size: 1024px;
  }
  .header {
    min-height: 768px;
  }
  .header__theme-menu {
    justify-self: center;
    align-self: baseline;
  }
  .header__theme-menu-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
  .header__subtitle {
    max-width: 491px;
  }

  .attention-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
  }
  .attention-card {
    min-width: 315px;
  }
  .footer {
    min-height: 768px;
  }
}
