/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-family: var(--font-family);
  min-inline-size: 375px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--padding-sides);
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu {
  grid-row: 1;
  display: flex;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: inherit;
  font-weight: var(--font-weight-normal);
  font-size: var(--text-font-size);
  line-height: 100%;
  color: var(--menu-button-color);
  padding: 3px 12px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-active);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-hover-button);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-decoration-color: var(--focus-visible-color);
  text-underline-offset: 3px;
  text-decoration-skip-ink: none;
}

.header__rec {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--text-font-size);
  line-height: 139%;
  position: absolute;
  top: var(--header-rec-top);
  right: var(--header-rec-right);
  color: var(--accent-color);
  visibility: var(--visability);
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  left: 42px;
  top: 8px;
  position: absolute;
  vertical-align: middle;
  box-shadow: 0px 0px 6px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--margin-position-absolut);
  right: var(--margin-position-absolut);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--margin-position-absolut);
  left: var(--margin-position-absolut);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
}

.header__title {
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  justify-self: start;
}

.header__subtitle {
  grid-row: 3;
  align-self: center;
  justify-self: start;
  max-width: 364px;
}

.content {
  padding: var(--padding-content) var(--padding-sides);
}

.header__subtitle,
.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-font-size);
  line-height: 130%;
}

.title-decor {
  background-color: var(--accent-color);
  width: 100%;
  color: var(--title-decor-color);
}

.title-no-decor {
  color: var(--title-no-decor-color);
}

.text,
.subtitle {
  font-weight: var(--font-weight-normal);
  font-size: var(--text-font-size);
  line-height: 130%;
}

.text {
  color: var(--text-color);
}

.text__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.text__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.subtitle {
  color: var(--subtitle-color);
}

.content-section {
  margin-block-end: var(--margin-block-end);
}

.content-section,
.content-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.content-section-card,
.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.gallery__images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery__img {
  object-position: center;
  object-fit: cover;
  display: block;
  width: 100%;
}

.footer {
  padding: 0px var(--padding-sides);
  min-height: 667px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.footer__title {
  padding: 0 4px;
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .page {
    max-inline-size: 768px;
  }

  .header {
    min-height: 1024px;
  }

  .header__title {
    margin-left: -20px;
    font-size: var(--title-font-size);
    justify-self: start;
  }

  .header__subtitle {
    justify-self: end;
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .title {
    min-width: 236px;
  }

  .wrapper-advice,
  .wrapper-reasons {
    grid-column: 2 / 4;
    grid-row: 1;
  }

  .title-decor {
    flex-grow: 1;
  }

  .wrapper-attention {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__images {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    grid-auto-flow: row;
  }

  .gallery__img:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__img:nth-child(2) {
    grid-row: span 2;
    height: 100%;
  }

  .gallery__img:nth-child(3) {
    grid-row: span 3;
    height: 100%;
  }

  .gallery__img:nth-child(4) {
    grid-column: 2;
  }

  .gallery__img:nth-child(5) {
    grid-row: span 2;
    grid-column: span 2;
    height: 100%;
    width: 100%;
  }

  .footer {
    min-height: 1024px;
  }
}

@media (min-width: 1024px) {
  .page {
    min-inline-size: 1024px;
  }

  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: baseline;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__theme-menu-button {
    padding: 2.5px 12.5px;
  }

  .header__subtitle {
    max-width: 491px;
  }

  .wrapper-attention {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content-section-card {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
  }

  .footer {
    min-height: 768px;
  }
}
